/HelloSpring/nbproject/private/
/HelloSpring/build/
/springApp/nbproject/private/
/springApp/dist/
/springApp/build/
/springApp/src/java/springApp/db/test.lck
/springApp/src/java/springApp/db/test.log
/springApp/src/java/springApp/db/test.properties
/springApp/src/java/springApp/db/test.script
/springApp/src/java/springApp/db/test.tmp/